.header_logo {
    display: flex;
    background-color: rgb(55, 107, 55);
    justify-content: center;
    align-items: center;
    position: relative;
    /* Adicionado para posicionar o logo absolutamente */
}

.logo {
    position: absolute;
    /* Posiciona o logo absolutamente */
    left: 10px;
    /* Posiciona o logo 10px à esquerda do header_logo */
}

h1.navbar-brand {
    color: white;
    font-size: 50px;
}

.container-fluid {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(112, 168, 101);
}

.container-fluid a {
    text-decoration: none;
    color: white;
}

.container-fluid a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.cards {
    width: 100px;
    height: 100px;
    display: flex;
    align-content: center;
    align-items: center;

}

.cards .card {
    border: 1px solid black;
}

.cell-content img {
    float: left;
    margin-right: 10px;
    height: 250px;
    width: 250px;
}

.cell-content p {
    overflow: auto;
    text-align: justify;
    font-size: 18px;
}

.cell-padding {
    margin: 10px 10px;
    /* Adiciona 20px de espaço acima e abaixo de cada célula */
}

.foto-final {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60%;
    width: 60%;
}
