.title  {
    color: rgb(55, 107, 55);
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
}

.btn-primary{
    background-color: rgb(55, 107, 55) !important;
    width: 100px;
    height: 50px;
    font-size: 25px !important;
    justify-content: center;
}

.form-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px !important;
}

.questions {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.column {
    width: 300px;
    color: rgb(55, 107, 55);
}

#modal {
    background-color: rgb(240, 255, 240);
    max-width: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    z-index: 99;
    border-radius: 20px;
    display: flex;
    padding: 35px;
    box-shadow: 8px 8px 40px rgb(49, 49, 49);
    flex-direction: column;
}

#mensagemPrincipal {
    font-weight: 800;
    font-size: 28px;
    text-align: center;
}

#mensagem {
    font-weight: 300;
    font-size:20px;
    text-align: center;

}

#modal-backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #00000090;
    top: 0;
    left: 0;
    z-index: 98;
    visibility: hidden;
}

.link {
    margin: 10px auto;
    text-decoration: none;
    background-color: rgb(165, 224, 167);
    color: white;
    font-weight: 400;
    border-radius: 50vh;
    align-self: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    transition: 0.5s;
}

.link:hover {
    text-decoration: none;
    color: white;
    box-shadow: 5px 5px 15px rgb(79, 92, 79, 40);
    transform: translate(-5px, -5px);

}